@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shadow {
  box-shadow: 8px 8px 0px 0px rgba(3, 24, 17, 0.08);
}
/* styles.css */
.gradient-border {
  border-bottom: 4px solid transparent; /* Border width and transparent color for the gradient effect */
  border-image: linear-gradient(to right, #031811, rgba(3, 24, 17, 0)) 1; /* Gradient border image */
}







@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-in-out forwards;
}

.animate-slide-in-up {
  animation: slideInUp 0.5s ease-in-out forwards;
}
